Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb

*background :      #252525
*foreground :      #bdc3c7

! Black
*color0:           #2B2B2B
*color8:           #252525
! Red
*color1:           #F33C5B
*color9:           #F33C5B
! Green
*color2:           #F33C5B
*color10:          #F33C5B
! Yellow
*color3:           #F33C5B
*color11:          #F33C5B
! Blue
*color4:           #F33C5B
*color12:          #F33C5B
! Magenta
*color5:           #F33C5B
*color13:          #F33C5B
! Cyan
*color6:           #F33C5B
*color14:          #F33C5B
! White
*color7:           #ecf0f1
*color15:          #bdc3c7

URxvt*geometry:         83x23
URxvt*font: xft:PragmataPro for Powerline:size=7
URxvt*boldFont: xft:PragmataPro for Powerline:size=7
URxvt*urlLauncher:         chrome
URxvt*scrollBar:        false
URxvt.iconFile: /usr/share/icons/Flattr/apps/scalable/utilities-terminal.svg
